.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s 1s;
    animation-fill-mode: forwards;
    min-width: 10px;

}
.text-animate-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;

    &:hover {
        animation: rubberBand 1s;
        color: crimson;
    }
}

@for $i from 1 through 35 {
    .text-animate._#{$i} {
        animation-delay: #{$i / 10}s;
    }
}
// @keyframes text-animate {
//     0% {
//       opacity: 0;
//       transform: translateX(-50%);
//       text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
//     };
//     60% {
//       opacity: 0.5;
//       transform: translateX(50%);
//     }
//     80% {
//       transform: none;
//       opacity: 1;
//       text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
//     }
//     100% {
//       text-shadow: none;
//     }
//   }
  
//   @keyframes text-animate-hover {
//     0% {
//       text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
//       transform: translate(var(--glitch-translate));
//     }
//     2% {
//       text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
//     }
//     4%, 100% {  text-shadow: none; transform: none; }
//   }