html {
  overflow: scroll;
}
.resume-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    z-index: 2;
   
    
  }
  
  .resume-title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .resume-download {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
    text-decoration: none;
  }
  
  .skills-section {
    margin-bottom: 30px;
  }
  
  .skills-subtitle {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .skills-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  
  .skills-list li {
    margin-bottom: 5px;
  }
  .scrollable-list {
    max-height: 200px; /* Set the maximum height for the scrollable list */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    margin-bottom: 20px; /* Add some spacing at the bottom */
  }
/* Add these styles to your existing SCSS file or import a new CSS file */

/* Modify the perspective and animation properties for globe effect */
.resume-container {
  perspective: 1000px;
}

.spherespinner {
  animation-name: spinsphere;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  margin-left: calc(50% - 100px);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

/* Adjust the sphere's faces for globe effect */
.skills-list.sphere li {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid #ffffff;
  background: rgba(168, 164, 164, 0.4);
  text-align: center;
  font-size: 24px; /* Adjust font size as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 25px 0px lightblue;
  border-radius: 50%;
  transform: rotateY(0deg) rotateX(90deg) translateZ(100px);
}

/* Define keyframes for spinning globe */
@keyframes spinsphere {
  from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@media (max-width: 768px) {
  .resume-container {
    padding: 20px; /* Add some padding for better spacing on smaller screens */
  }

  .skills-section {
    margin-bottom: 20px; /* Add margin between sections on smaller screens */
  }

  .skills-subtitle {
    font-size: 18px; /* Adjust font size for smaller screens */
  }

  .skills-list {
    list-style: none;
    padding: 0;
  }

  .skills-list li {
    font-size: 14px; /* Adjust font size for list items on smaller screens */
    margin-bottom: 8px; /* Add margin between list items on smaller screens */
  }
}
