.container {
  text-align: center;
  color: #505050;
  display: block;
  margin-left: 60px; /* Adjust the sidebar width as needed */
  padding-top: 20px;
}
.skills-container {
  // text-align: center;
  z-index: 2;
  left: 100px;
}
.glow-on-hover {
  width: 140px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #000000;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #4e4e4e,
    #ff00c8,
    #ff0000,
    rgb(220, 20, 60)
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #e90303;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #444444;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.skills {
  
  background-color:transparent;
  max-width: 70%;
  
  max-height: auto;
  margin: 0 auto; /* Center horizontally */
  display: flex;
  justify-content: center; /* Center horizontally */
  height: auto; /* Set height to 100% of the viewport height for vertical centering */
  
}
.frontend {
  background-color: #68686848;
  border-radius: 10px;
  padding: 1px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  height: auto;
  margin: 0 30px;
  max-height: 900px;
 width: 700px;
 color: #33ff00;
}

.backend {
 position: relative;
 background-color: #68686848;
 border-radius: 10px;
 padding: 1px;
 box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
 margin: 0 70px;
 height: auto;
 max-height: 900px;
 width: 700px;
 color: #fffb00;
}
li::marker{
  color: transparent !important;
}
.resume-download {
  box-shadow: 0.25em 0.5em 0 rgb(255, 255, 255),
    0 0.4em 1.25em 0 rgb(255, 255, 255) !important ;
  padding: 2em 3m !important;
  
}
body {
  font-family: Helvetica, Hacked, "Arial Narrow Bold", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.title {
  font-size: 15em;
  color: aqua;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
}
h3 {
  padding-top: 0.5em;
}
.vertical-timeline-element-content {
  box-shadow: 0.25em 0.5em 0 rgb(78, 78, 78),
    0 0.4em 1.25em 0 rgb(255, 255, 255) !important ;
  padding: 2em 3m !important;
  color: #000000;
}
.date {
  color: rgb(255, 255, 255);
  font-family: "Trebuchet MS", "sans-serif ", "Gill Sans", "Gill Sans MT",
    Calibri;
    box-sizing:content-box;
  // background-color: rgb(0, 0, 0);
  box-shadow: 0 0 0 rgb(255, 255, 255),
    0 0.4em 1.25em 0 rgb(153, 41, 41) !important ;
  padding: 2em 3m !important;
  text-align: center !important;
}
#description {
  margin: 1.5em 0 2em 0;
}
.button {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: rgb(25, 0, 255);
  text-align: center;
  
  
}
.workButton {
  background-color: rgb(0, 0, 0);
  padding: 1em 1em !important;
  position: relative !important;
  display: inline-block;
  
}
.workButton:hover {
  background-color: rgb(2, 110, 25);
}
.schoolButton {
  background-color: rgb(0, 0, 0);
  padding: 3% 0 !important;
  position: relative !important;
  display: inline-block;
  
}
.schoolButton:hover {
  background-color: rgb(229, 255, 0);
}
@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-content {
    display: block !important;
    float: none !important;
    background-color: transparent;
    color: black;
    margin-top: 2.5em;
  }
  .vertical-timeline-element-date {
    text-align: left;
    color: black;
    left: 10px !important;
    background-color: transparent !important;
    top: 160px !important;
    width: 40% !important;
    display: block !important;
   
  }
}

.top-section {
  text-align: center;
  padding: 4rem 0;
  max-width: 600px;
  margin: 0 auto;
}

.timeline {
  position: relative;
  min-height: 150px;
}

.line {
  // position: absolute;
  z-index: 2;
  left: calc(50% - 1px);
  width: 2px;
  top: -50px;
  bottom: -50px;
  background-color: crimson;
  display: none;
}
.line::before,
.line::after {
  // position: absolute;
  display: block;
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: crimson;
  left: 50%;
  transform: translateX(-50%);
}
.line::after {
  bottom: 0;
}

.section {
  display: flex;
  opacity: 0;
  transform: translateX(-100%);
  transition: 600ms ease;
  position: relative;
  z-index: 2; //might need to change the z-indexes to 3 and 2
  margin: 50px 0;
  padding: 1rem;
  border-radius: 1rem;
  align-items: cneter;
  min-height: 300px;
}
.section:nth-child(odd) {
  flex-direction: row-reverse;
  transform: translateX(100%);
}
.bread {
  // position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: crimson;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.show-me:nth-child(n) {
  opacity: 1;
  transform: none;
}
h1 {
  font-weight: 400;
}
