.stage-cube-cont {
  width:60%;
  height: 100%;
  top: 100px;
  padding-top: 20%;
  margin-left: 0;
  position: absolute;
  left: 1200px;
  overflow: hidden;
}

.cudespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);

  div {
    position: absolute;
    width: 200px; /* Set width to 200px for all faces */
    height: 200px; /* Set height to 200px for all faces */
    border: 2px solid #ffffff;
    background: rgba(168, 164, 164, 0.4);
    text-align: center;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 25px 0px lightblue;
  }

  .face1 {
    transform: translateZ(100px);
  }
  .face2 {
    transform: rotateY(90deg) translateZ(100px);
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
  }
  .face6 {
    transform: translateY(100px) rotateX(90deg);
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateZ(90deg);
  }
  83% {
    transform: rotateY(90deg);
  }
}

.about-page {
    
  position:absolute;
  left: 100px;
  transform: translateY(-30%);
  top: 300px;
  width: 35%;
  vertical-align: middle;
  display: table-cell;
  max-height: 90%;
  overflow: visible;
  z-index: 2;
  text-align: left !important;

  h1 {
      font-size: 53px;
      font-family:'hCoolvetica';
      color: rgb(107, 103, 103);
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 40px;
      left: 10px;

      &::before {
          content: '<h1>';
          font-family: 'La Belle Aurore';
          font-size: 18px;
          position: absolute;
          margin-top: -10px;
          left: -10px;
          opacity: 0.6;
          line-height: 18px;

      }
      &::after{
          content: '</h1>';
          font-family: 'La Belle Aurore';
          font-size: 18px;
          position: absolute;
          margin-left: 20px;
          bottom:-20px;
          left: -30px;
          opacity: 0.6;
          
      }
  }
  p {
      font-style: 10px;
      color: aquamarine;
      font-family: 'Courier New', Courier, monospace;
      font-weight: 300;
      min-width: fit-content;
      animation: pulse 3s;
      width: 100px;
      font-style: oblique;

      &:nth-of-type(1){
          animation-delay: 1s;
      }
      &:nth-of-type(2){
          animation-delay: 2s;
      }
      &:nth-of-type(3){
          animation-delay: 3s;
      }
  }
}
/* index.scss */
/* Existing styles */

/* Add media query for mobile devices */
@media (max-width: 768px) {
  .about-page {
    // padding: 20px; /* Add some padding for better spacing on smaller screens */
    width: 100%;
    left: 20px;
    top: 300px;
  }

  .text-zone {
    text-align: center; /* Center-align text on smaller screens */
    width: auto;
    display: inline-block;
  }

  h1 {
    font-size: 24px; /* Adjust font size for the heading on smaller screens */
  }

  p {
    font-size: 16px; /* Adjust font size for paragraphs on smaller screens */
    width: 100%;
    text-align: center;
  }
  
  .stage-cube-cont {
    text-align: center;
    left: 50px;
    top: -100px;
  }
  .container {
    display: flex;
    flex-direction: row; /* Default layout for larger screens */
  
    @media (max-width: 768px) {
      flex-direction: column; /* Switch to column layout for mobile screens */
    }
  }
  
}