html {
  font-size: 62.5;
}

body {
  margin: 0;
  font: 300 11px/1.4   'hCoolvetica', 'La Belle Aurore','sans-serif';
  color: #444;
  background: #022c43;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.Dna {
  display: block;
  position: absolute;
  margin: auto;
  width: 500px;
  height: 500px;
  animation: fadeOut 1s 1s ;
  animation-fill-mode: forwards;

}